<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    {#    <script type="text/javascript" src="students/static/jquery.min.js"></script>#}
    {#    <script type="text/javascript" src="../static/script.js"></script>#}
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li id="faculties"><a href="/faculties/">Факультеты</a></li>
        <li><a href="/departments/">Кафедры</a></li>
        <li><a href="/specialities/">Специальности</a></li>
        <li><a href="/groups/">Группы</a></li>
        <li><a href="/students/">Студенты</a></li>
    </ul>
</div>
<div>
    <table rules="all">
        {% block content %}
        {% endblock %}
    </table>
</div>
<a href="javascript:history.back()">Назад</a>
<a href="javascript:history.forward()">Вперёд</a>
</body>
</html>