<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li id="faculties"><a href="/faculties/">Факультеты</a></li>
        <li><a href="/departments/">Кафедры</a></li>
        <li><a href="/specialities/">Специальности</a></li>
        <li><a href="/groups/">Группы</a></li>
        <li><a href="/students/">Студенты</a></li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>