@charset "utf-8";
body {
    background-color: whitesmoke;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

table {
    border: 2px solid;
}

table thead {
    background-color: darkgray;
    font-weight: bold;
}

tbody tr:hover {
    background-color: lightsteelblue;
}

table td {
    padding: 5px 10px 5px 10px;
}

a:link {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

.login {
    position: fixed;
    right: 30px;
    top: 0;
    margin-bottom: 50px;
}

.login li {
    display: inline-block;
}

.login a:hover {
    background-color: lightsteelblue;
    color: darkmagenta;
    cursor: pointer;
}

.login a {
    text-align: center;
    padding: 5px 10px;
    background-color: darkgray;
    border-radius: 6px;
    border-style: none;
    color: darkblue;
    display: block;
    height: 100%;
    width: 100%;
}

#login li {
    display: inline-block;
}

#menu {
    position: relative;
    top: 45px;
    background-color: darkgray;
    border-radius: 6px;
    margin: 20px auto 50px;
    text-align: center;
}

#menu li {
    display: inline-block;
    padding: 10px;
}

#menu li:hover {
    background-color: lightsteelblue;
}

#menu a:hover {
    color: darkmagenta;
}

#main {
    position: relative;
    top: 30px
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 5px;
    background-color: darkgray;
    border-radius: 6px;
    border-style: none;
    width: auto;
    text-align: center;
    color: darkblue;
}

.button:hover {
    background-color: lightsteelblue;
    cursor: pointer;
    color: darkmagenta;
}

.button a {
    display: block;
    height: 100%;
    width: 100%;
}

#footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

.nav_button {
    border-radius: 6px;
    background-color: darkgray;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}