@charset "utf-8";
body {
    background-color: whitesmoke;
}

table {
    border: 2px solid;
}

table thead {
    background-color: darkgray;
    font-weight: bold;
}

table td {
    padding: 5px 10px 5px 10px;
}

a:link {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: darkorchid;
}

#register {

}

#menu {
    background-color: darkgray;
    border-radius: 6px;
    margin: 0 auto 20px;
    text-align: center;
}

#menu li {
    display: inline-block;
    padding: 10px;
}

#footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

.nav_button {
    border-radius: 6px;
    background-color: darkgray;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}