<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    {% load humanize %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    <script type="text/javascript" src="{% static 'jquery.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'script.js' %}" charset="utf-8"></script>
</head>
<body>
<div class="login">
    <ul>
        {% if user.is_authenticated %}
            <li><p>{{ user.username }}</p></li>
            <li><a href="/logout/">Выйти</a></li>
        {% else %}
            <li><a href="/login/">Войти</a></li>
        {% endif %}
    </ul>
</div>
<div id="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li id="faculties"><a href="/faculties/">Факультеты</a></li>
        <li><a href="/departments/">Кафедры</a></li>
        <li><a href="/specialities/">Специальности</a></li>
        <li><a href="/groups/">Группы</a></li>
        <li><a href="/students/">Студенты</a></li>
    </ul>
</div>
<div id="main">
    {% block main %}
    {% endblock %}
</div>
<div id="footer">
</div>
</body>
</html>