{% extends "base.html" %}
{% block main %}
    <p>Факультет: {{ department.faculty }}</p>
    <p>Наименование: {{ department.name }}</p>
    <p>Заведующий: {{ department.head }}</p>
    {% if specialities.count > 0 %}
        <p>Список специальностей:</p>
        <table rules="all">
            <thead>
            <tr class="table_head">
                <td>Факультет</td>
                <td>Код специальности</td>
                <td>Наименование специальности</td>
            </tr>
            </thead>
            <tbody>
            {% for speciality in specialities %}
                <tr>
                    <td>{{ speciality.department.faculty }}</td>
                    <td><a href="/specialities/{{ speciality.id }}/">{{ speciality.code }}</a></td>
                    <td><a href="/specialities/{{ speciality.id }}/">{{ speciality.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}