{% extends "base.html" %}
{% block main %}
    <p>Группа: <a href="/groups/{{ student.group.id }}/">{{ student.group }}</a></p>
    <p>Фамилия: {{ student.surname }}</p>
    <p>Имя: {{ student.name }}</p>
    <p>Отчество: {{ student.middle_name }}</p>
    <p>Дата рождения: {{ student.birth_date }}</p>
    <div class="button"><a href="/student-edit/{{ student.number }}">Редактировать</a></div>
    <div class="button" id="delete_btn"><a href="/student-delete/{{ student.number }}">Удалить</a></div>
{% endblock %}